# Eclipse setting resources
.classpath
.project
.settings
${sys:catalina.base}/
*.log

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*.*~

# STS (Spring Tool Suite)
.springBeans

# Maven resources
target

Java resources
*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
